@import 'assets/style/variables/_dimension';
@import 'assets/style/variables/_transform';

.logout {
  cursor: pointer;

  height: 100%;
  padding: .5rem;

  background-color: transparent;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: .5rem;

  transition: linear 100ms;

  @media (min-width: $mobile-width) {
    &:hover {
      transform: scale($icon-transform-scale);
    }
  }

  .logout__image {
    height: 100%;
    width: 2rem;
    object-fit: contain;
  }

  .logout__text {
    color: white;
    font-size: 1rem;
  }
}