@import 'assets/style/variables/dimension.scss';
@import 'assets/style/variables/_color';

.content {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient($light-blue, $blue);
  grid-area: content;
}