.logo-link {
  cursor: pointer;
  
  width: 100%;
  height: 100%;

  display: block;

  background-image: url('../../../assets/images/logo/szopenPOSLogo-white.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}