@import '../variables/color';

@mixin main-button() {
  cursor: pointer;
  
  padding: 1rem;

  border: none;
  outline: none;
  background-color: $yellow;

  color: black;
  font-size: 1.45rem;

  transition: linear 150ms;

  &:hover {
    background-color: $light-yellow;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $light-gray;
  }
}