@import 'assets/style/variables/_dimension';

.login {
  width: 100%;
  height: $noscroll-height;

  display: flex;
  align-items: center;
  justify-content: center;

  .login__login-wrapper {
    width: 100%;

    @media (min-width: $mobile-width) {
      width: 30rem;
    }
  }
}