@import 'assets/style/variables/_font';
@import 'assets/style/variables/_color';

//Font Family: Roboto Condensed
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  width: 100vw;

  background-color: $blue;
  background: linear-gradient($light-blue, $blue);

  font-family: $main-font, sans-serif;
}